<mat-toolbar>
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="navigate('/competitions/' + competition_id.toString() + '/matches')">
      <mat-icon>close</mat-icon>
      <span class="pl-1">Discard</span>
    </button>
    <button [disabled]="!hasRight('matchModify')" mat-button (click)="saveMatch()">
      <mat-icon>done</mat-icon>
      <span class="pl-1">Save</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="p-3">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <form class="example-form">
        <div class="row">
          <!-- REGION CARD -->
          <form [formGroup]="form" class="col-md-6">
            <mat-card class="example-card mb-3">
              <h6>Basic Data</h6>
              <div>
                <mat-form-field class="w-100">
                  <mat-select [(ngModel)]="player_one" [compareWith]="compareUser" placeholder="Player 1" formControlName="player_one">
                    <mat-option *ngFor="let player of players" [value]="player">{{player.human_name}}</mat-option>
                  </mat-select>
                  <div *ngIf="submitted && form.get('player_one').hasError('required')" class="invalid-feedback d-block">
                    <div>Player 1 is required</div>
                  </div>
                </mat-form-field>
                <p>Score: {{player_one_score + ''}}</p>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-select [(ngModel)]="player_two" [compareWith]="compareUser" placeholder="Player 2" formControlName="player_two">
                    <mat-option *ngFor="let player of players" [value]="player">{{player.human_name}}</mat-option>
                  </mat-select>
                  <div *ngIf="submitted && form.get('player_two').hasError('required')" class="invalid-feedback d-block">
                    <div>Player 2 is required</div>
                  </div>
                </mat-form-field>
                <p>Score: {{player_two_score + ''}}</p>
              </div>
            </mat-card>
          </form>
          <!-- END REGION CARD -->
          <!-- REGION CARD -->
          <div class="col-md-6" *ngIf="!player_one || !player_two">
            <mat-card class="example-card">
              <h6 class="mb-3">Select players to add rounds!</h6>
            </mat-card>
          </div>
          <div class="col-md-6" *ngIf="player_one && player_two">
            <mat-card class="example-card">
              <h6 class="mb-3">Rounds</h6>
              <app-round *ngFor="let round of rounds; let i = index"
                         [player_one_name]="player_one.human_name"
                         [player_two_name]="player_two.human_name"
                         [round]="round"
                         [round_number]="i+1"
                         [competition_id]="competition_id"
                         [match_id]="id"
                         (round_updated)="loadRounds()">
              </app-round>
              <div *ngIf="hasRight('matchModify')" class="d-flex justify-content-between mt-3">
                <p class="mb-0">Add round</p>
                <span>
                  <mat-icon class="cursor-pointer" (click)="addRound()">add</mat-icon>
                </span>
              </div>
            </mat-card>
          </div>
          <!-- END REGION CARD -->
        </div>
      </form>
    </div>
  </div>
</div>
