<mat-toolbar color="primary">
  <mat-icon class="mr-1">filter_tilt_shift</mat-icon>
  <span class="pr-1">Official Darts Association</span>
  <mat-icon class="pr-1">more_vert</mat-icon>
  <button mat-button (click)="navigate('/competitions')">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <span class="example-spacer" fxHide="false" fxHide.gt-sm></span>
  <button mat-button (click)="navigate('/users')">
    <mat-icon>person</mat-icon>
    User management
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
<router-outlet></router-outlet>
